<h2>Welcome, <%= @user.username %>! <% if @user.admin %> | Business Owner | <% end %></h2>

<% if current_user.admin %>
  <table>
    <thead>

    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Address</strong></td>
        <td><strong>Rating</strong></td>
      </tr>

      <% @owned_restaurants.each do |r| %>
        <% if r.user_id == current_user.id %>
          <tr>
            <td><%= r.name %></td>
            <td>
              <%= r.street %> <%= r.city %>, <%= r.state %>  <%= r.zipcode %>
            </td>
            <td> N/A </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
