<!-- GREET ADMIN/USER -->
<% if current_user.admin %>
  <h2>Welcome, <%= current_user.username %>! | Business Owner |</h2>
  <h3>My Business(es)</h3>
<% else %>
  <h2>Welcome, <%= current_user.username %>!</h2>
  <h3>My Review(s)</h3>
<% end %>

<!-- SHOW USER REVIEWS -->
<% if !current_user.admin && current_user.reviews.exists? %>
  <table>
    <thead>

    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Review</strong></td>
        <td><strong>Rating</strong></td>
      </tr>

      <% @user.reviews.each do |review| %>
        <tr>
          <td><%= review.restaurant.name %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif !current_user.admin && !current_user.reviews.exists? %>
  <p>Please view restaurants to review...</p>
<% end %>

<!-- SHOW ADMIN'S RESTAURANTS -->
<% if current_user.admin %>
  <table>
    <thead>

    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Address</strong></td>
        <td><strong>Rating</strong></td>
        <td></td>
      </tr>

      <% @owned_restaurants.each do |restaurant| %>
        <% if restaurant.user_id == current_user.id %>
          <tr>
            <td><a href="/restaurants/<%=restaurant.slug%>"><%= restaurant.name %></a></td>
            <td><%= restaurant.street %> <%= restaurant.city %>, <%= restaurant.state %>  <%= restaurant.zipcode %></td>
            <td></td>
            <td>
              <form action="/restaurants/<%=restaurant.slug%>/delete" method="post">
                <input type="hidden" name="_method" value="Delete">
                <input type="submit" value="Delete Business">
              </form>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
