<% if @user.admin %>
  <h2>Welcome, <%= @user.username %> | Business Owner |</h2>
  <h3>My Businesses</h3>
<% else %>
  <h2>Welcome, <%= @user.username %></h2>
  <h3>My Reviews</h3>
<% end %>

<% if !current_user.admin && current_user.reviews.exists? %>
  <table>
    <thead>

    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Review</strong></td>
        <td><strong>Rating</strong></td>
      </tr>

      <% @user.reviews.each do |review| %>
        <tr>
          <td><%= review.restaurant.name %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Please view restaurants to review...</p>
<% end %>

<% if current_user.admin %>
  <table>
    <thead>

    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Address</strong></td>
        <td><strong>Rating</strong></td>
        <td></td>
      </tr>

      <% @owned_restaurants.each do |restaurant| %>
        <% if restaurant.user_id == current_user.id %>
          <tr>
            <td><a href="/restaurants/<%=restaurant.slug%>"><%= restaurant.name %></a></td>
            <td>
              <%= restaurant.street %>
              <%= restaurant.city %>, <%= restaurant.state %>  <%= restaurant.zipcode %>
            </td>
            <td> N/A </td>
            <td>
              <% if restaurant.user_id == current_user.id %>
                <form action="/restaurants/<%=restaurant.slug%>/delete" method="post">
                  <input type="hidden" name="_method" value="Delete">
                  <input type="submit" value="Delete Business">
                </form>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
