<!-- GREET ADMIN/USER -->
<% if current_user.admin %>
  <h2>Welcome, <%= current_user.username %>! | Business Owner |</h2>
  <h3>My Business(es)</h3>
<% else %>
  <h2>Welcome, <%= current_user.username %>!</h2>
  <h3>My Review(s)</h3>
<% end %>

<!-- SHOW USER REVIEWS -->
<% if !current_user.admin && current_user.reviews.exists? %>
  <table>
    <thead>

    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Review</strong></td>
        <td><strong>Rating</strong></td>
      </tr>

      <% @user.reviews.each do |review| %>
        <tr>
          <td><a href="/restaurants/<%=review.restaurant.slug%>"><%= review.restaurant.name %></a></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
          <td><button type="button" name="view"><a href="/restaurants/<%=review.restaurant.slug%>/reviews/<%=review.id%>">View</a></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif !current_user.admin && !current_user.reviews.exists? %>
  <p>Please view restaurants to review...</p>
<% end %>

<!-- SHOW ADMIN'S RESTAURANTS -->
<% if current_user.admin %>
  <table>
    <thead>

    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Address</strong></td>
        <td><strong>Rating</strong></td>
      </tr>

      <% @restaurants.each do |owned_restaurant| %>
        <% if owned_restaurant.user_id == current_user.id %>
          <tr>
            <td><a href="/restaurants/<%=owned_restaurant.slug%>"><%= owned_restaurant.name %></a></td>
            <td><%= owned_restaurant.street %> <%= owned_restaurant.city %>, <%= owned_restaurant.state %>  <%= owned_restaurant.zipcode %></td>
            <td><%= owned_restaurant.average_rating %></td>
            <td>
              <form action="/restaurants/<%=owned_restaurant.slug%>/delete" method="post">
                <button type="button" name="edit"><a href="/restaurants/<%=owned_restaurant.slug%>/edit">Edit</a></button>

                <input type="hidden" name="_method" value="Delete">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
