<h2>Restaurant Listings</h2>

<table>
  <thead>

  </thead>

  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Address</strong></td>
      <td><strong>Rating</strong></td>
      <td></td>
    </tr>

    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><a href="/restaurants/<%=restaurant.slug%>"><%= restaurant.name %></a></td>
        <td><%= restaurant.street %> <%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zipcode %></td>
        <% if restaurant.reviews.exists? %>
          <td><%= restaurant.average_rating.round(2) %></td>
        <% else %>
          <td></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
