<h2>Restaurant Listings</h2>

<table>
  <thead>

  </thead>

  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Address</strong></td>
      <td><strong>Rating</strong></td>
      <td></td>
    </tr>

    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><a href="/restaurants/<%=restaurant.slug%>"><%= restaurant.name %></a></td>
        <td>
          <%= restaurant.street %>
          <%= restaurant.city %>, <%= restaurant.state %> <%= restaurant.zipcode %>
        </td>
        <td>N/A</td>
        <td>
          <% if restaurant.user_id == current_user.id %>
            <form action="/restaurants/<%=restaurant.slug%>/delete" method="post">
              <input type="hidden" name="_method" value="Delete">
              <input type="submit" value="Delete Business">
            </form>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
