<!-- RESTAURANT NAME AND RATING -->
<% if @restaurant.reviews.exists? %>
  <h1><%= @restaurant.name %> - <%= @restaurant.average_rating.round(2) %></h1>
<% else %>
  <h1><%= @restaurant.name %></h1>
<% end %>

<h4><%= @restaurant.street %> <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zipcode %></h4>

<% if @restaurant.user_id == current_user.id %>
  <form action="/restaurants/<%=@restaurant.slug%>/delete" method="post">
    <button type="button" name="edit"><a href="/restaurants/<%=@restaurant.slug%>/edit">Edit</a></button>

    <input type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete">
  </form>
<% end %>

<!-- RESTAURANT REVIEWS -->
<% if @restaurant.reviews.exists? %>
  <table>
    <thead>

    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Review</strong></td>
        <td><strong>Rating</strong></td>
      </tr>

      <% @restaurant.reviews.each do |review| %>
        <tr>
          <td><%= review.user.username %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
          <td>
            <% if review.user_id == current_user.id %>
              <button type="button" name="view"><a href="/restaurants/<%=@restaurant.slug%>/reviews/<%=review.id%>">View</a></button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif !current_user.admin %>
  <p>Write a review...</p>
<% end %>

<br>

<!-- RATE THE RESTAURANT -->
<% if !@restaurant.reviews.exists? %>
  <form action="/restaurants/<%=@restaurant.slug%>" method="post">
    <strong>Rating</strong>
    <input type='radio' name='rating' value='1'>1
    <input type='radio' name='rating' value='2'>2
    <input type='radio' name='rating' value='3'>3
    <input type='radio' name='rating' value='4'>4
    <input type='radio' name='rating' value='5'>5
    <br>
    <strong>Review</strong>
    <input type="text" name="content" value="Write review here...">
    <br>
    <input type="submit" value="Submit">
  </form>
<% else %>
  <% @restaurant.reviews.each do |review| %>
    <% if review.user.id != current_user.id %>
      <form action="/restaurants/<%=@restaurant.slug%>" method="post">
        <strong>Rating</strong>
        <input type='radio' name='rating' value='1'>1
        <input type='radio' name='rating' value='2'>2
        <input type='radio' name='rating' value='3'>3
        <input type='radio' name='rating' value='4'>4
        <input type='radio' name='rating' value='5'>5
        <br>
        <strong>Review</strong>
        <input type="text" name="content" value="Write review here...">
        <br>
        <input type="submit" value="Submit">
      </form>
    <% end %>
  <% end %>
<% end %>
