<table>
  <thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Review</td>
        <td>Rating</td>
      </tr>

      <tr>
        <td><%=@review.user.username%></td>
        <td><%=@review.content%></td>
        <td><%=@review.rating%></td>
        <td>
          <% if @review.user_id == current_user.id %>
            <form action="/restaurants/<%=@restaurant.slug%>/reviews/<%=@review.id%>/delete" method="post">
              <button type="button" name="edit"><a href="/restaurants/<%=@restaurant.slug%>/reviews/<%=@review.id%>/edit">Edit</a></button>
              
              <input type="hidden" name="_method" value="Delete">
              <input type="submit" value="Delete">
            </form>
          <% end %>
        </td>
      </tr>
    </tbody>
  </thead>
</table>
